
.nav__bar {
  background-color: #2C3E50;
  color: #fff;
}

.firs-nav {
  padding-top: 5px;
}

li {
  list-style: none;
  display: inline-block;
}
.second-nav {
  text-align: right;
  padding: 20px 0;
}

.jumbotron {
  background-color: #1ABC9C;
  height: 600px;
}

.title {
  width: 40%;

  background-color: skyblue;
  margin: 80px auto;
  padding-top: 20px;
}

.boy {
  height: 200px;
  background-color:#fff;
  width: 200px;
  margin: auto;
  border-radius: 50%;
}

.jumbo_title {
  text-align: center;
}

/* corpo del testo */

.section_title{
  text-align: center;
  padding: 50px 0;
}

.box {
  background-color: #BA4C63;
  height: 200px;
  border-radius: 20px;
}

.mb-5 {
  margin-bottom: 3rem;
}

.portfolio {
  padding-bottom: 50px;
}

.about {
  background-color: #1ABC9C;
}

.contact {
  background-color: #fff;
  margin-bottom: 30px;
}
.container_small {
  background-color: #1ABC9C;
  max-width: 700px;
  margin: auto;
}

#second_small {
  background-color: #fff;
}
.about_botton {
  text-align: center;
}

.data {
  background-color: green;
  height: 400px;
}

.footer_up {
  background-color: #2C3E50;
  color: #fff;
  padding-top: 30px
}
.footer_down {
  background-color: #1A252F;
  padding-top: 20px;
}
.copyright {
  text-align: center;
  color: #fff;
}

/* responsive  */

@media (max-width: 768px) {
  .container_small {
    padding: 30px;
  }

 }
@media (min-width: 768px) and (max-width: @screen-sm-max) { ... }
@media (min-width:992px) and (max-width: @screen-md-max) { ... }
