


body {
  font-family: 'Montserrat', sans-serif;
}


/* header */
.navbar {
  background-color: #2C3E50;
  color: #fff;
}


.first__nav {
  padding-bottom: 10px;
}
.first__nav h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.second__nav {
  text-align: right;
  height: 100%;
  padding-top: 20px
}

.second__nav li {
  font-size: 20px;
  padding: 0 20px;
  list-style: none;
  display: inline-block;
}

.second__nav a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
}
.second__nav a:hover {
  color: green;
}

.jumbotron {
  background-color: #1ABC9C;
  width: 100%
  height: 600px;
}

.title {
  width: 50%;
  margin: 80px auto;
  padding-top: 20px;
  text-align: center;
}

.title img {
  height: 200px;

}

.jumbo_title  {
  color: #fff;
}

.jumbo_title h1 {
  font-size: 70px;
  text-transform: uppercase;
}
.jumbo_title p {
  font-size: 30px;
}

.decoration {
  vertical-align: middle;
}
.line_decoration {
  width: 150px;
  height: 3px;
  background-color: white;
  display: inline-block;

}

.star_decoration {
  display: inline-block;
  color: #fff;
  padding: 4% 3%;
  font-size: 30px;
}
/*/ header */

/* prima sezione */


.section_title {
  text-align: center;
  padding: 30px 0;
}

.section_title h2 {
  color: #fff;
  font-size: 3rem;
}

.portfolio .section_title h2 {
  color: black;
}
.decoration_black {
  background-color: black;
}
.star_black {
  color: black;
}
.box {
  height: 250px;
  width: 100%;
  text-align: center;
  position: relative;
}
.box img {
  max-height: 100%;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1ebc9c;
  border-radius: 30px;
  overflow: hidden;
  z-index: 0;
}
.box:hover .overlay {
  opacity: 1;
}

.overlay i {
  display: block;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.mb-5 {
  margin-bottom: 3rem;
}
.portfolio {
  padding-bottom: 50px;
}
/* /prima sezione */

/* seconda sezione */
.about {
  background-color: #1ABC9C;
}

.section_text {
  padding-bottom: 30px;
}

.section_text p {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

.about_botton {
  margin-bottom: 70px;
  text-align: center;
}

.about_botton > .btn {
  width: 40%;
  background-color: #1ABC9C;
  border: 2px solid white;
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
}

.about_botton > .btn:hover {
  background-color: #fff;
  color: black;
}

/* /seconda sezione */


.contact {
  background-color: #fff;
  margin-bottom: 30px;
}
.container_small {
  background-color: #1ABC9C;
  max-width: 700px;
  margin: auto;
}

#second_small {
  background-color: #fff;
}

.data {
  background-color: green;
  height: 400px;
}

.footer_up {
  background-color: #2C3E50;
  color: #fff;
  padding-top: 30px
}
.footer_down {
  background-color: #1A252F;
  padding-top: 20px;
}
.copyright {
  text-align: center;
  color: #fff;
}

/* responsive  */

@media (max-width: 768px) {
  .container_small {
    padding: 30px;
  }

 }
@media (min-width: 768px) and (max-width: @screen-sm-max) { ... }
@media (min-width:992px) and (max-width: @screen-md-max) { ... }
